.header{
   height:80px;
  

   
}
body{
    margin:0px;
}
.header .navigation a{
    color:white;
    text-decoration: none;
}
.header .navigation{
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-between;
}
.container{
    max-width: 960px;
    margin:auto;
}
.container-full{
    background-color: blue;
    width: 100%;
}